/* PROJECTS SECTION */

#projects {
    padding-inline: 120px;
    padding-block: 72px 144px;
    background-color: var(--gray-200);

    h3 {
        color: var(--red);
    }

    h2 {
        padding-block: 8px 56px;
        color: var(--gray-600);
    }
}
.title {
    text-align: center;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    h6 {
        color: var(--gray-600);
        padding: 4px 4px;
        margin-top: 12px;
    }

    p {
        color: var(--gray-500);
        padding: 4px 4px;
    }
}

.project {
    background-color: var(--gray-300);
    border-radius: 12px;
    padding: 12px 12px;
}

.project:hover {
    outline: 1px solid #8D8D99;
    cursor: pointer;
}

/* SERVICES SECTION */
#services {
    background-color: var(--gray-100);
    padding-inline: 120px;
    padding-block: 88px 120px;

    h3 {
        color: var(--red);
    }

    h2 {
        color: var(--gray-600);
        margin-bottom: 56px;
        margin-top: 8px;
    }
}

.services-cards {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;

    h6 {
        color: var(--gray-600);
    }

    p {
        color: var(--gray-500);
    }

    img {
        margin-bottom: 20px;
    }
}

.service {
    border-radius: 12px;
    border: 2px solid;
    border-color: var(--gray-200);
    padding: 20px;
}