.text-lg-asap {
    font: var(--title-lg-asap);
    color: var(--gray-600);
}

.text-md-asap {
    font: var(--title-md-asap);
}

.text-sm-asap {
    font: var(--title-sm-asap);
}

.subtitle {
    font: var(--subtitle);
    color: var(--gray-500);
}

.text-md-maven {
    font: var(--text-md-maven);
}

.text-sm-maven {
    font: var(--text-sm-maven);
    color: var(--gray-400);
}

